{% extends 'base.html' %}
{% block body %}
<style>
    form{
    width:60%;
    margin:auto;
    }
</style>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Movie name</label>
    <input type="text" class="form-control" name="name" aria-describedby="emailHelp">
    <div id="emaiflHaelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Description</label>
    <input type="text" name="desc" placeholder="description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emasilHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Year</label>
    <input type="text" name="year" placeholder="year" class="form-control" id="exampleIndputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Select the Image</label>
    <input type="file" name="img" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="text" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<!--<form method="POST" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->

<!--    <input type="text" name="name" placeholder="name">-->
<!--    <input type="text" name="desc" placeholder="description">-->
<!--    <input type="text" name="year" placeholder="Year">-->
<!--    <input type="file" name="img" placeholder="Image">-->
<!--    <input type="submit">-->
<!--</form>-->
{% endblock %}
